<<<<<<< HEAD
/* search bar */
div.container {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}
section.filters {
    background-color: white;
=======
.container .filters {
    position: relative;
    background: white;
>>>>>>> 92ae02874b854d207c33886a883c540336b37c69
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
<<<<<<< HEAD
section.filters button {
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    float: right;
    margin: 11px 30px;
}
section.filters button:hover {
    opacity: .9;
}
/* location and amenities part of search bar */
.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.locations h3,
.amenities h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
}
.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 30px;
=======
button {
    position: absolute;
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    top: 15%;
    right: 30px;
}
button:hover {
    opacity: 0.9;
}
.filters div {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 25%;
}
.filters h3 {
    margin-left: 15%;
    margin-bottom: 0;
    font-weight: 600;
}
.filters h4 {
    margin-left: 15%;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}
.locations {
    border-right: 1px solid #DDDDDD;
>>>>>>> 92ae02874b854d207c33886a883c540336b37c69
}
